In [1]:
import pandas as pd

In [2]:
df_match = pd.read_csv('dataset.csv')
df_match.head()

,id_match,league_id,season,stage,date_match,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,...,chanceCreationShooting_away,chanceCreationShootingClass_away,chanceCreationPositioningClass_away,defencePressure_away,defencePressureClass_away,defenceAggression_away,defenceAggressionClass_away,defenceTeamWidth_away,defenceTeamWidthClass_away,defenceDefenderLineClass_away
0,2228,1729,2009/2010,2,2010-03-24 00:00:00,658592,8456,8668,0,2,...,45,Normal,Organised,40,Medium,70,Double,40,Normal,Cover
1,2239,1729,2009/2010,21,2010-03-16 00:00:00,658936,8528,10252,1,2,...,50,Normal,Free Form,30,Deep,70,Double,30,Narrow,Cover
2,2240,1729,2009/2010,21,2010-03-23 00:00:00,658937,8654,8602,1,3,...,70,Lots,Organised,70,High,70,Double,70,Wide,Cover
3,2245,1729,2009/2010,21,2010-03-10 00:00:00,658942,8191,10194,1,1,...,55,Normal,Organised,35,Medium,70,Double,35,Normal,Cover
4,2246,1729,2009/2010,21,2010-03-09 00:00:00,658943,8472,8559,4,0,...,45,Normal,Organised,35,Medium,70,Double,35,Normal,Cover